[submodule "Plugins/VaRestPlugin"]
	path = Plugins/VaRestPlugin
	url = git@github.com:ufna/VaRest.git
[submodule "Plugins/MyTracker"]
	path = Plugins/MyTracker
	url = https://github.com/ufna/myTracker.git
